/* Global Styles */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
  }
  
  a {
    text-decoration: none;
    color: #0066cc;
  }
  
  a:hover {
    color: #004466;
  }
  
  button, input[type="submit"] {
    background-color: #0066cc;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover, input[type="submit"]:hover {
    background-color: #004466;
  }
  
  /* Header Styles */
  
  header {
    background-color: rgb(29, 29, 29);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  header::after {
    content: "Følg oss på Instagram! @vikaasen_volley";
     margin: 0.05rem -1rem;
    /* add back negative margin value */
    padding: 0.05rem 1rem;
    background: #1d1d1d;
    color: #0066cc;
    text-align:center;
    display:block;
    font-size: 20px;
    margin-top: 80px;
    font-weight: 600;
  }
  
  .navbar {
    background-color: #1b1a1a;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 16px;
  }
  
  .nav-links li a {
    color: #b2b2b2;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #0066cc;
  }
  
  .hamburger {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .bar {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
      transition: all 0.3s ease;
    }
    .change .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    .change .bar:nth-child(2) {
      opacity: 0;
    }
    .change .bar:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 16px;
    transition: all 0.3s ease;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropbtn {
    color: #0066cc;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 25px;
    cursor: pointer;
  }
  
  .hamburger-line {
    height: 2px;
    background-color: #1b1a1a;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .dropdown {
      display: none;
    }
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .bar {
      width: 25px;
      height: 3px;
      background-color: #1b1a1a;
      margin: 5px 0;
      transition: all 0.3s ease;
    }
    .change .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    .change .bar:nth-child(2) {
      opacity: 0;
    }
    .change .bar:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }  
  
  h1 {
    font-size: 48px;
    margin: 0;
    padding: 10px 0;
  }
  
  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .image-container {
    width: 400px;
    height: 50px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 50%;
    height:100%;
    object-fit: contain;
  }
  
  /* Main Content Styles */
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30%;
  }

  d {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40em;
}

  d2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: rgb(97, 97, 97);
}

  .right-image {
    margin-top: 40px;
    margin-left: auto;
    border-radius: 5%;
  }

  @media (max-width: 900px) {
    .right-image {
        display: none;
    }
  }
  
  .promo, .about {
    background-color: rgb(20, 20, 20);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 40px;
    margin-right: auto;
    flex-basis: calc(60% - 10px);
    border-radius: 5%;
    padding-bottom: 2%;
  }
  
  .promo h3, .about h3 {
    margin-top: 0;
    color: #b2b2b2;
  }
  
  .promo h4, .about h4 {
    margin-top: 0;
    color: #b2b2b2;
  }
  
  .promo p, .about p {
    margin-bottom: 20px;
    color: #b2b2b2;
  }
  
  .button {
    display: inline-block;
    margin-top: 20px;
  }

  .event-box {
    background-color: #F5F5F5;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .event-box h2 {
    font-size: 28px;
    margin-top: 0;
  }
  
  .event-box p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .event-box .btn {
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
  }  

  .indented-line {
  display: inline-block;
  margin-left: 20px;
}

#map {
  height: 300px;
  width: 95%;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 90%;
}

@media (max-width: 600px) {
  table {
    font-size: 70%; /* Adjust this value as needed */
  }
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #b2b2b2;
  text-size-adjust:inherit;
}

th {
  background-color: #f2f2f2;
}

td:not(:last-child) {
  border-right: 1px solid #ddd;
}

a {
  color: #b2b2b2;
  text-decoration: underline;
}

ab {
  color: #b2b2b2;
  text-decoration: underline;
}

a:hover {
  color: #0066cc;
  text-decoration: underline;
}

  
  /* Footer Styles */
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* set the height of your footer here */
    background-color: #0066cc;
    color: #fff;
    text-align: center;
    padding-top: 20px; /* add some top padding to center the content */
  }
  
  .image-container2 {
    width: 400px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
  }
  
  .image-container2 img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }